  <div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header">
             Les experiences
            <button class="btn btn-outline-success" (click)="creationExperience()" [hidden]="!authenticated()">Ajouter une experience</button>
          </div>
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Titre</th>
                  <th>Description</th>
                  <th>Prix</th>
                  <th>Rating</th>
                  <th>image</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let e of experiences" ><!--[hidden]="authorities()"-->
                  <td>{{e.titreExperience}}</td>
                  <td>{{e.descriptionExperience}}</td>
                  <td>{{e.ratingExperience}}</td>
                  <td>{{e.prixExperience}}</td>
                  <td><img src="data:image/jpeg;base64,{{e.mediasExperience}}" height="120" width="120"/></td>
                  <td>
                    <button class="btn btn-outline-success" (click)="viewExperience(e)">Voir</button>
                    <button class = "btn btn-outline-warning" (click)="editExperience(e)" [hidden]="!authorities()">Editer</button>
                    <button class="btn btn-outline-danger" (click)="delete(e.idExperience)" [hidden]="!authorities()">Delete</button>
                  </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
  </div>