<div class="animated fadeIn">
  <div>
    <h1 style="text-align:center;"> Bienvenue chez Best Trip !! </h1>
  </div>
      <div class="card-body">
          <carousel [interval]="myInterval" [noWrap]="noWrapSlides" [(activeSlide)]="activeSlideIndex">
            <slide *ngFor="let slide of slides; let index=index">
              <img [src]="slide.image" alt="image slide" style="display: block; width: 100%;">
            </slide>
          </carousel>
          <br/>
      </div>
      <div>
        <h2 style="text-align:justify;"> Votre nouveau blog de voyage, afin d'échanger entre passionés de voyage !!</h2> 
        <br>
        <p style="text-align:justify;">
          Vous pourrez ainsi ajouter vos expériences, vos recommandations et participer à la création de guide afin de partager vos connaissances. L'idée de ce blog est de promouvoir l'entraide entre les voyageurs. Alors bonne lecture et super n'oubliez pas de voyager !!
        </p> 
      </div>
      <div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
</div>
