<div class="animated fadeIn" >
  <div [hidden]="!authenticated()">
    <div class="row">
      <div class="col-md-6">
        <!--<div class="card">
          <div class="card-header">
            <strong>Ajouter un utilisateur</strong>
          </div>
          <div class="card-body">
            <form class="form-horizontal" (ngSubmit)="save()">
              <div class="form-group">
                <label>Nom</label>
                <input type="text" [(ngModel)]="utilisateur.nom" name="nom" class="form-control">
              </div>
              <div class="form-group">
                <label>Prénom</label>
                <input type="text" [(ngModel)]="utilisateur.prenom" name="prenom" class="form-control">
              </div>
              <div class="form-group">
                <label>Username</label>
                <input type="text" [(ngModel)]="utilisateur.username" name="username" class="form-control">
              </div>
              <div class="form-group">
                <label>Password</label>
                <input type="text" [(ngModel)]="utilisateur.password" name="password" class="form-control">
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label">Multiple select</label>
                <div class="col-md-9">
                  <select multiple name="roles" [(ngModel)]="utilisateur.roles">
                    <option *ngFor="let r of roles" [ngValue]="r">
                      {{r.libelle}}
                    </option>
                  </select>
                </div>
              </div>
              
              <div class="card-footer">
              <button class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Ajouter</button>
            </div>  
            
            </form>
          </div>
        </div>-->
      </div>
    </div><!--/.row-->
    <div class="row"  [hidden]="!authorities()">
      <div class="col-lg-">
        <div class="card">
          <div class="card-header">
             Les utilisateurs
          </div>
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Nom</th>
                  <th>Prénom</th>
                  <th>Email</th>
                  <th>Username</th>
                  <th>NewsLetter</th>
                  <th>Rôles</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let u of utilisateurs">
                  <td>{{u.idUtilisateur}}</td>
                  <td>{{u.nom}}</td>
                  <td>{{u.prenom}}</td>
                  <td>{{u.email}}</td>
                  <td>{{u.username}}</td>
                  <td>{{u.newsLetter}}</td>
                  <td *ngFor="let r of u.roles">
                    <tr>
                      <td>{{r.libelle}}</td>
                    </tr>
                  </td>
                  <td>
                    <button class="btn btn-outline-warning" (click)="editUser(u)">Edit</button>
                    <button class="btn btn-outline-danger" (click)="deleteUser(u.idUtilisateur)">Delete</button>
                  </td>
              </tr>
              </tbody>
            </table>
        <!--   <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Prev</a></li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>-->
          </div>
        </div>
      </div>
      </div>
  </div>
  <div [hidden]="authenticated()">
    <p>Vous n'avez pas les droits</p>
  </div>
</div>
