<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <strong>Modifier une experience</strong>
            </div>
            <div class="card-body">
                <form class="form-horizontal" (ngSubmit)="updateExperience()" [formGroup]="editForm">
                    <div class="form-group">
                        <label>Titre:</label>
                        <input type="text" [(ngModel)]="experience.titreExperience" formControlName="titreExperience" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label>Description:</label>
                        <textarea [(ngModel)]="experience.descriptionExperience" formControlName="descriptionExperience" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label>rating:</label>
                        <input type="number" [(ngModel)]="experience.ratingExperience" formControlName="ratingExperience" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>type:</label>
                        <input type="text" [(ngModel)]="experience.typeExperience" formControlName="typeExperience" class="form-control">
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i>Modifier</button>
                    </div>  
                </form>
            </div>
        </div>
    </div>
</div>    