<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
           Les recommandations
          <button class="btn btn-outline-success" (click)="ajouter()">Ajouter une recomandation</button>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th>titre</th>
                <th>description</th>
                <th>type</th>
                <th>pays</th>
                <th>prix</th>
                <th>rating</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let u of recommandations" ><!--[hidden]="authorities()"-->
                <td>{{u.titreRecommandation}}</td>
                <td>{{u.descriptionRecommandation}}</td>
                <td>{{u.typeRecommandation}}</td>
                <td>{{u.paysRecommandation}}</td>
                <td>{{u.prixRecommandation}}</td>
                <td>{{u.ratingRecommandation}}</td>
                <td>
                  <button class="btn btn-outline-danger" (click)="delete(u.idRecommandation)">Delete</button>
                  <button class="btn btn-outline-success" (click)="voir(u)">Voir</button>
                  <button class = "btn btn-outline-warning" (click)="edit(u)">Editer</button>
                </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>
