<div>
    <h1>Ajouter un utilisateur</h1>
    <form (ngSubmit)="save()">
        <table>
            <tr>
                <td><label>Nom</label></td>
                <td><input type="text" [(ngModel)]="utilisateur.nomUtilisateur" name="nomUtilisateur"></td>
            </tr>
            <tr>
                <td><label>Prenom</label></td>
                <td><input type="text" [(ngModel)]="utilisateur.prenomUtilisateur" name="prenomUtilisateur"></td>
            </tr>
            <tr>
                <td><label>Username</label></td>
                <td><input type="text" [(ngModel)]="utilisateur.username" name="username"></td>
            </tr>
            <tr>
                <td><label>Password</label></td>
                <td><input type="text" [(ngModel)]="utilisateur.password" name="password"></td>
            </tr>
            <tr>
                <td><label>Role</label></td>
                <td>
                    <select multiple name="roles" [(ngModel)]="utilisateur.roles">
                        <option *ngFor="let r of roles" [ngValue]="r">
                            {{r.libelle}}
                        </option>
                    </select>
                </td>
            </tr>
            <tr>                
                <td colspan="2" align="center"><button>Ajouter</button></td>
            </tr>
        </table>
    </form>
</div>
<div align="center">
    <h3>Liste des utilisateurs</h3>
    <table>
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Action</th>
        </tr>
        <tr *ngFor="let u of utilisateurs">
            <td>{{u.nomUtilisateur}}</td>
            <td>{{u.prenomUtilisateur}}</td>
            <td><button (click)="deleteUtilisateur(u.idUtilisateur)">Delete</button></td>
        </tr>
    </table>
    
</div>

